In [2]:
1
import pandas as pd  

series = pd.Series([1, 2, 3, 4, 5])

print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
2
import pandas as pd

data = [10, 20, 30, 40, 50]
index = ['a', 'b', 'c', 'd', 'e']
series = pd.Series(data, index=index)
print(data)
print(series['c'])

[10, 20, 30, 40, 50]
30

In [4]:
3
import pandas as pd

series1 = pd.Series([1, 2, 3, 4, 5])
series2 = pd.Series([5, 4, 3, 2, 1])

result = series1 + series2

print(result)

0    6
1    6
2    6
3    6
4    6
dtype: int64

In [5]:
4
import pandas as pd 

data = {
    'Name': ['Dias', 'Nurbak', 'Eldar'],  
    'Age': [25, 30, 35]                  
}

df = pd.DataFrame(data) 
print(df)

     Name  Age
0    Dias   25
1  Nurbak   30
2   Eldar   35

In [35]:
5,6
import pandas as pd
import numpy as np  
df = pd.DataFrame(np.random.rand(5, 5), columns=['A', 'B', 'C', 'D', 'E'])
print(df)

print(df['A']>0.5)

          A         B         C         D         E
0  0.306408  0.563157  0.979035  0.537794  0.630416
1  0.854748  0.780947  0.541916  0.804325  0.932233
2  0.938102  0.868278  0.301681  0.753051  0.039639
3  0.814115  0.726341  0.692203  0.562381  0.456969
4  0.276523  0.010404  0.172260  0.058474  0.900134
0    False
1     True
2     True
3     True
4    False
Name: A, dtype: bool

In [7]:
7
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.rand(5, 5))

column_sums = df.apply(np.sum)
print(df)
print("Суммы по каждому столбцу:")
print(column_sums)

          0         1         2         3         4
0  0.166577  0.751131  0.727760  0.451879  0.151850
1  0.207569  0.336667  0.843179  0.548144  0.729050
2  0.156861  0.943747  0.782403  0.623250  0.299059
3  0.784326  0.929257  0.915180  0.615531  0.641492
4  0.385971  0.456346  0.271484  0.836066  0.859027
Суммы по каждому столбцу:
0    1.701305
1    3.417147
2    3.540006
3    3.074870
4    2.680478
dtype: float64

In [8]:
8
import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.random.rand(3, 3), columns=['A', 'B', 'C'])
df2 = pd.DataFrame(np.random.rand(3, 3), columns=['D', 'E', 'F'])

horizontal_concat = pd.concat([df1, df2], axis=1)

vertical_concat = pd.concat([df1, df2], axis=0)

print("Горизонтальное объединение:")
print(horizontal_concat)

print("\nВертикальное объединение:")
print(vertical_concat)

Горизонтальное объединение:
          A         B         C         D         E         F
0  0.553764  0.282045  0.024407  0.710252  0.848578  0.419563
1  0.947244  0.271122  0.502826  0.801666  0.293386  0.401328
2  0.661313  0.265812  0.938263  0.112077  0.787682  0.800550

Вертикальное объединение:
          A         B         C         D         E         F
0  0.553764  0.282045  0.024407       NaN       NaN       NaN
1  0.947244  0.271122  0.502826       NaN       NaN       NaN
2  0.661313  0.265812  0.938263       NaN       NaN       NaN
0       NaN       NaN       NaN  0.710252  0.848578  0.419563
1       NaN       NaN       NaN  0.801666  0.293386  0.401328
2       NaN       NaN       NaN  0.112077  0.787682  0.800550

In [9]:
#9
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve', 'Frank'],
    'Gender': ['Female', 'Male', 'Male', 'Female', 'Female', 'Male'],
    'Age': [24, 30, 22, 28, 35, 40]
}

df = pd.DataFrame(data)

grouped_df = df.groupby('Gender')['Age'].mean()

print(grouped_df)

Gender
Female    29.000000
Male      30.666667
Name: Age, dtype: float64

In [10]:
# 10
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve', 'Frank'],
    'Gender': ['Female', 'Male', 'Male', 'Female', 'Female', 'Male'],
    'Age': [24, 30, 22, 28, 35, 40]
}

df = pd.DataFrame(data)  


csv_file_path = 'people_data.csv'
df.to_csv(csv_file_path, index=False)

loaded_df = pd.read_csv(csv_file_path)

print(loaded_df)

      Name  Gender  Age
0    Alice  Female   24
1      Bob    Male   30
2  Charlie    Male   22
3    Diana  Female   28
4      Eve  Female   35
5    Frank    Male   40

In [12]:
df = pd.read_csv('football.csv')
df

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12892,13121,J. Lundstram,19,England,Crewe Alexandra,1100000,1000,CM,34,38,...,43,45,40,48,47,10,13,7,8,9
12893,13122,N. Christoffersson,19,Sweden,Trelleborgs FF,60000,1000,ST,23,52,...,43,42,22,15,19,10,9,9,5,12
12894,13123,B. Worman,16,England,Cambridge United,60000,1000,ST,25,40,...,55,41,32,13,11,6,5,10,6,13
12895,13124,D. Walker-Rice,17,England,Tranmere Rovers,60000,1000,RW,44,50,...,50,46,20,25,27,14,6,14,8,9
12896,13125,G. Nugent,16,England,Tranmere Rovers,60000,1000,CM,41,34,...,33,43,40,43,50,10,15,9,12,9

In [13]:
import pandas as pd


#1
average_speed_rounded = round(df[df['Wage'] > df['Wage'].mean()]['SprintSpeed'].mean(), 2)
print(average_speed_rounded)

67.57

In [14]:
#2
average_speed_rounded = round(df[df['Wage'] < df['Wage'].mean()]['SprintSpeed'].mean(), 2)
print(average_speed_rounded)

62.41

In [15]:
#3
highest_wage_player = df.loc[df['Wage'].idxmax()]

position = highest_wage_player['Position']

print(position)

RF

In [16]:
#4
total_penalties = df[df['Nationality'] == 'Brazil']['Penalties'].sum()
print(total_penalties)

22789

In [17]:
#5
average_age = df[df['HeadingAccuracy'] > 50]['Age'].mean()
print(average_age)

25.58771113179944

In [20]:
#6
max_composure = df['Composure'].max()
max_reactions = df['Reactions'].max()

youngest_player_age = df[(df['Composure'] > 0.9 * max_composure) & (df['Reactions'] > 0.9 * max_reactions)]['Age'].min()
print(youngest_player_age)

24

In [21]:
#7
difference = round(df[df['Age'] == df['Age'].max()]['Reactions'].mean() - 
                    df[df['Age'] == df['Age'].min()]['Reactions'].mean(), 2)
print(difference)

22.64

In [22]:
#8
average_value = df['Value'].mean()

most_common_nationality = df[df['Value'] > average_value]['Nationality'].value_counts().idxmax()
print(most_common_nationality)

Spain

In [23]:
#9
gk_df = df[df['Position'] == 'GK']

avg_wage_reflexes = gk_df[gk_df['GKReflexes'] == gk_df['GKReflexes'].max()]['Wage'].mean()

avg_wage_handling = gk_df[gk_df['GKHandling'] == gk_df['GKHandling'].max()]['Wage'].mean()

result = round(avg_wage_reflexes / avg_wage_handling, 2)
print(result)

2.77

In [24]:

#10
max_aggression = df['Aggression'].max()
avg_shot_power_aggressive = df[df['Aggression'] == max_aggression]['ShotPower'].mean()

min_aggression = df['Aggression'].min()
avg_shot_power_passive = df[df['Aggression'] == min_aggression]['ShotPower'].mean()

result = round(avg_shot_power_aggressive / avg_shot_power_passive, 2)
print(result)

2.08

In [25]:
#3.1
unique_clubs = df['Club'].nunique()
print(unique_clubs)

650

In [26]:
#3.2
club_counts = df['Club'].value_counts()
most_represented_clubs = club_counts[club_counts == club_counts.max()]
print(most_represented_clubs)

Club
V-Varen Nagasaki    30
Shonan Bellmare     30
Name: count, dtype: int64

In [27]:
#3.3
least_represented_club = df['Club'].value_counts().idxmin()
print(least_represented_club)

Atlético Mineiro

In [29]:
#3.4
position_counts = df['Position'].value_counts(normalize=True)

positions_above_10_percent = position_counts[position_counts > 0.1].index.tolist()
print(positions_above_10_percent)

['GK', 'ST', 'CB']

In [30]:
#3.5
nationalities_count = df[df['Club'] == 'Manchester United']['Nationality'].nunique()
print(nationalities_count)

13

In [31]:
3.6
brazilian_players = df[(df['Nationality'] == 'Brazil') & (df['Club'] == 'Juventus')]
unique_players = brazilian_players['Name'].unique()[:2]  # Выбираем первых двух

print(unique_players)

['Alex Sandro' 'Douglas Costa']

In [32]:
#3.7
older_players = df[df['Age'] > 35]

club_with_most_older_players = older_players['Club'].value_counts().idxmax()
print(club_with_most_older_players)

Hokkaido Consadole Sapporo