# Калжан Акниет 
### Вариант 3

In [54]:
import pandas as pd
df = pd.read_csv('movies.csv')
df.tail(5)

,movieId,title,genres
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [209]:
df2 = pd.read_csv('movie_bd_v5.csv')
df2.tail(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000

### 1. Какой фильм с самым низким рейтингом (vote_average) также имеет самые низкие кассовые сборы?

##### C помощью == берем минимум vote_average. Выводит 2 записи. Потом находя минимум  revenue опять же с == сравниваем со всеми записями и выводим

In [60]:
df2[df2['revenue']==(df2[df2['vote_average']==min(df2['vote_average'])].revenue.min())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
709,tt1213644,25000000,14109284,Disaster Movie,Matt Lanter|Vanessa Lachey|Nicole Ari Parker|C...,Jason Friedberg|Aaron Seltzer,Your favorite movies are going to be destroyed.,"In DISASTER MOVIE, the filmmaking team behind ...",87,Action|Comedy,Grosvenor Park Media Ltd.|LionsGate|3 in the Box,8/29/2008,3.3,2008

In [514]:
answers_akko = {1:'Disaster Movie',
                2:'World War Z',
                3:'Paul W.S. Anderson',
                4:'Pirates of the Caribbean: On Stranger Tides',
                5:'Helena Bonham Carter',
                6:'Frozen',
                7:'Paranormal Activity 3',
                8:'Tim Burton',
                9:'Inside Out',
                10:'Les MisÃ©rables',
                11:'Matt Damon',
                12:'Judd Apatow, John Singleton',
                13:'Memento',
                14:'Jem and the Holograms',
                15:'Jason Statham',
                16:'Colin Trevorrow',
                17:'Go!',
                18:'The Conjuring',
                19:'Ridley Scott',
                20:'The Gift', 
                21:'Christian Bale',
                22:'Clint Eastwood',
                23:'Disaster Movie',
                24:'The Gift',
                25:'Helena Bonham Carter, Ian McKellen',
                26:'Pirates of the Caribbean',
                27:'Peter Jackson'
               }

### 2. Какой фильм снятый в жанре "Ужасы" имеет наивысший бюджет?

##### str.contains - ищет строки содержащий слово Horror. case=False - отвечает за игнор регистра, na=False - исключает из выборки строки со значением NaN

In [64]:
ujas = df2[df2['genres'].str.contains('Horror', case=False, na=False)]
ujas[ujas['budget']==ujas['budget'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1198,tt0816711,200000000,531865000,World War Z,Brad Pitt|Mireille Enos|Abigail Hargrove|Sterl...,Marc Forster,Remember Philly!,Life for former United Nations investigator Ge...,116,Action|Drama|Horror|Science Fiction|Thriller,Paramount Pictures|GK Films|Skydance Productio...,6/20/2013,6.7,2013

### 3. Какой режиссер снял наибольшее количество фильмов в жанре "Научная фантастика"?

##### также с str.contains берем нужные значения. value_counts - подсчет количества, idxmax - выводит наибольший

In [68]:
sf = df2[df2['genres'].str.contains('Science Fiction', case=False, na=False)]
sf['director'].value_counts().idxmax()

'Paul W.S. Anderson'

### 4. Какой фильм выпущен в самый дорогой месяц года с учетом среднего бюджета фильмов этого месяца?

##### преобразуем release_date с функцией to_datetime в формат даты. добавляем новую строку как месяц. находим средний бюджет по месяцам. находим с наибольшим бюджетом в том месяце и выводим название.

In [252]:
df2['release_date'] = pd.to_datetime(df2['release_date'])
df2['month'] = df2['release_date'].dt.month
monAvgB = df2.groupby('month')['budget'].mean().reset_index()
maxB = monAvgB.loc[monAvgB['budget'].idxmax()]
fmb = df2[df2['month']==maxB['month']]
fmb.loc[fmb['budget'].idxmax()]['original_title']

'Pirates of the Caribbean: On Stranger Tides'

### 5. Какой актер снялся в наибольшем количестве фильмов с разными жанрами, но в режиссуре одного и того же режиссера?

сплитим по касту и жанру, расширяем и по касту и по жанрам. затем группируем по касту жанру и режиссеру и подсчитываем кол-во строк по всем группам и присваиваем в колонну count. вообщем это комбинации каждого актера режиссера и жанра. потом считаем уникальные жанры для комбо актера и режисссера. и потом выводим актера и режиссера с максимальным уникальным.

In [150]:
df2 = pd.read_csv('movie_bd_v5.csv') # чтобы сплит норм выполнялся. у меня несколько ошибок было без него
df2['cast'] = df2['cast'].str.split('|') 
df2['genres'] = df2['genres'].str.split('|') 

expl = df2.explode('cast').explode('genres')
agcnt = expl.groupby(['cast', 'director', 'genres']).size().reset_index(name='count')
ungcnt = agcnt.groupby(['cast', 'director'])['genres'].nunique().reset_index()
mag = ungcnt.loc[ungcnt['genres'].idxmax()]

f"best actress on the world: {mag['cast']} and (her ex-husband) director: {mag['director']} ------ unique genres: {mag['genres']}"
#простите за шутки

'best actress on the world: Helena Bonham Carter and (her ex-husband) director: Tim Burton ------ unique genres: 10'

### хелена и тим - неудивительно(но без джони депа (⁠●⁠_⁠_⁠●⁠) )

### 6. Какой фильм стал самым прибыльным в жанре Анимации?

находим записи в жанрах которых есть анимация. ищем макс доход и выводим локом

In [139]:
df2 = pd.read_csv('movie_bd_v5.csv')
anime = df2[df2['genres'].str.contains('Animation', na=False)]
pribilny = anime.loc[anime['revenue'].idxmax()]
pribilny['original_title']

'Frozen'

   ಥ⁠‿⁠ಥ - again favorite

### 7. Какой фильм стал самым дешевым с самым коротким временем его продолжительности?

находим минимум бюджет и среди продолжительностей ищем минимум локом и выводим

In [166]:
minbudg = df2.loc[(df2['budget'] == df2['budget'].min())]
deshovka = minbudg.loc[minbudg['runtime'].idxmin()]
deshovka['original_title']

'Paranormal Activity 3'

### 8. Какой режиссер чаще всего снимал фильмы с одним и тем же актером в разных жанрах?

пятый и восьмой вопрос по смыслу идентичны

In [179]:
df2 = pd.read_csv('movie_bd_v5.csv') # чтобы сплит норм выполнялся. у меня несколько ошибок было без него
df2['cast'] = df2['cast'].str.split('|') 
df2['genres'] = df2['genres'].str.split('|') 

expl = df2.explode('cast').explode('genres')
agcnt = expl.groupby(['cast', 'director', 'genres']).size().reset_index(name='count')
ungcnt = agcnt.groupby(['cast', 'director'])['genres'].nunique().reset_index()
mag = ungcnt.loc[ungcnt['genres'].idxmax()]

f"best actress on the world: {mag['cast']} and (her ex-husband) director: {mag['director']} ------ unique genres: {mag['genres']}"

'best actress on the world: Helena Bonham Carter and (her ex-husband) director: Tim Burton ------ unique genres: 10'

### 9. Какой фильм получил наивысший рейтинг (vote_average) среди фильмов, снятых в жанре Комедия?

ищем комедию в жанрах и с оператором сравнения выводым с высшим рейтингом

In [198]:
df2 = pd.read_csv('movie_bd_v5.csv') # чтобы сплит норм выполнялся. у меня несколько ошибок было без него
comedy = df2[df2['genres'].str.contains('Comedy', na=False)]
comedy[comedy['vote_average'] == comedy['vote_average'].max()]['original_title'].values[0]

'Inside Out'

### вторая часть тоже ничего

### 10. Какой фильм снятый в жанре "Мюзикл" имеет самую длинную продолжительность?

также берем мюзикл в жанрах находим максимум в рантайме и выводим

In [219]:
muzicly = df2[df2['genres'].str.contains('Music', na=False)]
muzicly[muzicly['runtime']==muzicly['runtime'].max()]['original_title'].values[0]

'Les MisÃ©rables'

### 11. Какой актер снялся в наибольшем количестве фильмов с прибылью более 100 миллионов долларов?

преобразуем столбец каст, фильтруем фильмы где доход выше 100кк, расширяем по касту. находим актера и кол_во фильмов

In [317]:
df2 = pd.read_csv('movie_bd_v5.csv') # чтобы сплит норм выполнялся. у меня несколько ошибок было без него

df2['cast'] = df2['cast'].apply(lambda x: x.split('|') )
films = df2[df2['revenue'] > 100_000_000].explode('cast')

topAc = films['cast'].value_counts().idxmax()
filmcnt = films['cast'].value_counts().max()

f"Актер: {topAc}, Количество фильмов: {filmcnt}"

'Актер: Matt Damon, Количество фильмов: 17'

### 12. Какой режиссер снял наибольшее количество фильмов, выпущенных в месяце, соответствующем его имени (например, фильмы режиссера Michael выпущены в месяце май)?

тут совсем непонятно почему Michael равно маю. Допустим имя была записаны русском как Майкл и у мы могли бы прировнять их. но во первых у нас имена на английском во вторых на каком языке мы вообще должны работать с этим

In [529]:
import pandas as pd

df2 = pd.read_csv('movie_bd_v5.csv')
df2['release_date'] = pd.to_datetime(df2['release_date'])

df2['month'] = df2['release_date'].dt.month_name().str[0]  
df2['director_initial'] = df2['director'].str[0]  

md = df2[df2['month'] == df2['director_initial']]

res = md['director'].value_counts()

mxcnt = result.max()

topdir = result[res == mxcnt]
pd.DataFrame(topdir)

                count
director
Judd Apatow         3
John Singleton      3

### 13. Какой фильм, выпущенный до 2000 года, имеет самый высокий рейтинг (vote_average)?

извлекаем года, берем фильмы до 2000 года. и макс рейтинг.

In [314]:
df2 = pd.read_csv('movie_bd_v5.csv') # чтобы сплит норм выполнялся. у меня несколько ошибок было без него
df2['release_date'] = pd.to_datetime(df2['release_date'])
df2['year'] =  df2['release_date'].dt.year
do2000 = df2[df2['year'] < 2000]
do2000.loc[do2000['vote_average'] == do2000['vote_average'].max()]
do2000['original_title']

Series([], Name: original_title, dtype: object)

### как видим на дф нету фильмов до 2000

In [320]:
df2['release_date'] = pd.to_datetime(df2['release_date'])
df2_sorted = df2.sort_values(by='release_date')
print(df2_sorted[['original_title', 'release_date']].head())

     original_title release_date
1862    Next Friday   2000-01-12
1872      Supernova   2000-01-14
1859       Scream 3   2000-02-03
1856      The Beach   2000-02-11
1887     Hanging Up   2000-02-16

### как видим на дф нету фильмов до 2000 поэтому выведем до 2010

In [338]:
do2010 = df2[df2['release_date'].dt.year < 2010]

topof2010 = do2010.loc[do2010['vote_average'].idxmax()]

print(f"Фильм с самым высоким рейтингом до 2010 года: {topof2010['original_title']} (Рейтинг: {topof2010['vote_average']})")

Фильм с самым высоким рейтингом до 2010 года: The Dark Knight (Рейтинг: 8.1)

In [510]:
df2 = pd.read_csv('movie_bd_v5.csv') # чтобы сплит норм выполнялся. у меня несколько ошибок было без него
df2['release_date'] = pd.to_datetime(df2['release_date'])
df2['year'] =  df2['release_date'].dt.year
do2000 = df2[df2['year'] <= 2000]
do2000.loc[do2000['vote_average'] == do2000['vote_average'].max()]['original_title']

1800    Memento
Name: original_title, dtype: object

### 14. Какой фильм снятый в жанре "Фэнтези" имеет самый низкий бюджет?

находим с фантастикой и мин бюджет

In [357]:
df2 = pd.read_csv('movie_bd_v5.csv') # чтобы сплит норм выполнялся. у меня несколько ошибок было без него

fantasy = df2[df2['genres'].str.contains('fantasy', case=False, na=False)]

lowbudget = fantasy.loc[fantasy['budget'].idxmin()]
lowbudget['original_title']

'Jem and the Holograms'

### 15. Какой актер снялся в наибольшем количестве фильмов, в которых жанр "Криминал"?

находим криминал сплитим каст и выводим макс

In [381]:
df2 = pd.read_csv('movie_bd_v5.csv') # чтобы сплит норм выполнялся. у меня несколько ошибок было без него
crimefilms = df2[df2['genres'].str.contains('Crime', na=False)]

actors = crimefilms['cast'].str.split('|').explode()
actors.value_counts().idxmax()

'Jason Statham'

### 16. Какой режиссер получил самую высокую среднюю прибыль среди всех своих фильмов?

In [391]:
df2 = pd.read_csv('movie_bd_v5.csv') # чтобы сплит норм выполнялся. у меня несколько ошибок было без него

df2['profit'] = df2['revenue'] - df2['budget']

directors = df2['director'].str.split('|').explode()
profits = df2[['director', 'profit']].explode('director')
avgprofit = profits.groupby('director')['profit'].mean()
topdirector = avgprofit.idxmax()
topprofit = avgprofit.max()
f"Режиссер с самой высокой средней прибылью: {top_director} (Средняя прибыль: {top_profit})"

'Режиссер с самой высокой средней прибылью: Colin Trevorrow (Средняя прибыль: 1363528810.0)'

### 17. Какой фильм имеет самый короткий теговый слоган (tagline)?

In [400]:
df2 = pd.read_csv('movie_bd_v5.csv') # чтобы сплит норм выполнялся. у меня несколько ошибок было без него

df2 = df2[df2['tagline'].notna()]

shortest = df2.loc[df2['tagline'].str.len().idxmin()]

f" {shortest_tagline['original_title']} (tag: '{shortest['tagline']}')"

" Speed Racer (tag: 'Go!')"

### 18. Какой фильм снятый в жанре "Ужасы" имеет самый большой рейтинг (vote_average)?

In [413]:
ujas = df2[df2['genres'].str.contains('Horror', case=False, na=False)]
ujas[ujas['vote_average']==ujas['vote_average'].max()]['original_title'].values[0]

'The Conjuring'

### 19. Какой режиссер снял наибольшее количество фильмов в Universal Pictures?

In [418]:
universal = df2[df2['production_companies'].str.contains('Universal Pictures', na=False)]
universal['director'].value_counts().idxmax()

'Ridley Scott'

### 20. Какой фильм с наименьшим бюджетом стал самым прибыльным?

In [426]:
df2 = pd.read_csv('movie_bd_v5.csv') # чтобы сплит норм выполнялся. у меня несколько ошибок было без него

df2['profit'] = df2['revenue'] - df2['budget']

polozhitelny = df2[df2['profit'] > 0]
lowbud = polozhitelny.loc[polozhitelny['budget'].idxmin()]
f"{lowbud['original_title']} (Бюджет: {lowbud['budget']}, Прибыль: {lowbud['profit']})"

'The Gift (Бюджет: 5000000, Прибыль: 53978653)'

### 21. Какой актер снялся в наибольшем количестве фильмов, в которых рейтинг (vote_average) выше 8?

In [453]:
df2 = pd.read_csv('movie_bd_v5.csv') # чтобы сплит норм выполнялся. у меня несколько ошибок было без него

hrm = df2[df2['vote_average'] > 8]


actors = hrm['cast'].str.cat(sep='|')

actors_df = pd.DataFrame(actors.split('|'), columns=['actor'])
actors_df['actor'].value_counts().idxmax()

'Christian Bale'

### 22. Какой режиссер снял наибольшее количество фильмов с жанром "Драма"?

In [442]:
drama = df2[df2['genres'].str.contains('Drama', na=False)]
drama['director'].value_counts().idxmax()

'Clint Eastwood'

### 23. Какой фильм снятый в жанре "Комедия" имеет самый низкий рейтинг (vote_average)?

In [460]:
df2 = pd.read_csv('movie_bd_v5.csv') # чтобы сплит норм выполнялся. у меня несколько ошибок было без него


comedy = df2[df2['genres'].str.contains('Comedy', na=False)]

lowrate = comedy.loc[comedy['vote_average'].idxmin()]

f"Фильм в жанре 'Комедия' с самым низким рейтингом: {lowrate['original_title']}, рейтинг: {lowrate['vote_average']}"

Фильм в жанре 'Комедия' с самым низким рейтингом: Disaster Movie, рейтинг: 3.3

### 24. Какой фильм с самым низким бюджетом стал самым кассовым?

In [516]:
df2 = pd.read_csv('movie_bd_v5.csv') # чтобы сплит норм выполнялся. у меня несколько ошибок было без него

df2['profit'] = df2['revenue'] - df2['budget']

polozhitelny = df2[df2['profit'] > 0]
lowbud = polozhitelny.loc[polozhitelny['budget'].idxmin()]
f"{lowbud['original_title']} (Бюджет: {lowbud['budget']}, Прибыль: {lowbud['profit']})"

'The Gift (Бюджет: 5000000, Прибыль: 53978653)'

### 25. Какой актер снялся в наибольшем количестве фильмов с одним и тем же режиссером в разные годы?

In [479]:
df2 = pd.read_csv('movie_bd_v5.csv') # чтобы сплит норм выполнялся. у меня несколько ошибок было без него

df2['cast'] = df2['cast'].str.split('|')
df2['director'] = df2['director'].str.split('|')
df2['release_date'] = pd.to_datetime(df2['release_date'])
df2['year'] =  df2['release_date'].dt.year

df2 = df2.explode('cast').explode('director')

adcnt = df2.groupby(['cast', 'director'])['year'].nunique().reset_index()

maxcnt = adcnt['year'].max()
adcnt[adcnt['year'] == maxcnt]

                      cast       director  year
3578  Helena Bonham Carter     Tim Burton     6
3681          Ian McKellen  Peter Jackson     6

### 26. Какой фильм снятый в стиле "Боевик" имеет самый высокий бюджет?

In [494]:
df2 = pd.read_csv('movie_bd_v5.csv') # чтобы сплит норм выполнялся. у меня несколько ошибок было без него

action = df2[df2['genres'].str.contains('Action', na=False)]
hba  = action.loc[action['budget'].idxmax()]
print(f"Фильм в жанре 'Боевик' с самым высоким бюджетом: {hba['original_title']}")

Фильм в жанре 'Боевик' с самым высоким бюджетом: Pirates of the Caribbean: On Stranger Tides

### 27. Какой режиссер снял наибольшее количество фильмов в стиле "Фэнтези"?

In [502]:
df2 = pd.read_csv('movie_bd_v5.csv') # чтобы сплит норм выполнялся. у меня несколько ошибок было без него

df2[df2['genres'].str.contains('Fantasy', na=False)]['director'].value_counts().idxmax()

'Peter Jackson'