In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("football.csv")
data.head(3)

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11

In [3]:
grup = data.groupby('Club')['Wage'].agg(['mean', 'median'])
grup

                              mean  median
Club
 SSV Jahn Regensburg   3750.000000  3500.0
1. FC Heidenheim 1846  3800.000000  3000.0
1. FC Kaiserslautern   1434.782609  1000.0
1. FC Köln             9200.000000  4000.0
1. FC Magdeburg        4000.000000  4000.0
...                            ...     ...
Zagłębie Sosnowiec     1080.000000  1000.0
Çaykur Rizespor        5363.636364  4500.0
Örebro SK              1384.615385  1000.0
Östersunds FK          1950.000000  1000.0
Śląsk Wrocław          2083.333333  2000.0

[650 rows x 2 columns]

In [4]:
grup[grup['mean'] == grup['median']].shape[0]

52

In [5]:
maxval = grup[grup['mean'] == grup['median']].max()
maxval

mean      13000.0
median    13000.0
dtype: float64

In [6]:
grup[grup['mean'] == maxval.iloc[0]]

             mean   median
Club
Cruzeiro  13000.0  13000.0

In [7]:
data.groupby('Club')['Wage'].agg('sum')['Chelsea']

2035000

In [8]:
argen = data[(data['Nationality']=='Argentina') & (data['Age'] ==20)]
argen['Wage'].max()

54000

In [9]:
argen30 = data[(data['Nationality']=='Argentina') & (data['Age'] == 30)]
argen30['Wage'].max()

300000

In [10]:
argen30min = data[(data['Nationality']=='Argentina') & (data['Age'] == 30)]
argen30min['Wage'].min()

1000

In [11]:
barcelon = data[(data['Nationality']=='Argentina') & (data['Club']=='FC Barcelona')]

In [12]:
barcelon['Strength'].max()

59

In [13]:
barcelon['Balance'].max()

95

In [14]:
piv = data.pivot_table(index='Club', columns='Position', aggfunc='size', fill_value=0)
piv

Position,CAM,CB,CDM,CF,CM,GK,LAM,LB,LCB,LCM,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
Club,,,,,,,,,,,,,,,,,,,,,
SSV Jahn Regensburg,0,5,1,0,2,3,0,2,0,0,...,2,1,0,1,0,0,0,0,0,3
1. FC Heidenheim 1846,1,3,0,0,1,2,0,2,1,0,...,2,1,0,0,0,3,0,0,0,2
1. FC Kaiserslautern,0,3,3,0,0,3,0,2,1,0,...,2,0,0,1,0,2,1,0,0,1
1. FC Köln,0,1,1,0,2,3,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
1. FC Magdeburg,0,4,0,1,0,3,0,1,1,1,...,0,1,1,0,0,3,1,2,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zagłębie Sosnowiec,3,2,2,0,0,3,0,3,1,0,...,1,1,0,1,0,2,0,0,0,1
Çaykur Rizespor,1,2,5,0,0,3,0,2,1,0,...,3,0,0,1,0,1,0,0,0,1
Örebro SK,0,4,0,0,1,3,0,0,1,1,...,0,1,1,0,0,0,0,2,2,5
Östersunds FK,1,1,0,1,3,3,0,2,1,1,...,1,1,0,0,0,1,0,1,0,1
Śląsk Wrocław,0,1,3,0,1,3,0,2,1,0,...,2,1,0,1,0,2,1,0,0,2

In [15]:
piv['GK'].mean()

2.5246153846153847

In [16]:
piv.value_counts()

CAM  CB  CDM  CF  CM  GK  LAM  LB  LCB  LCM  LDM  LF  LM  LS  LW  LWB  RAM  RB  RCB  RCM  RDM  RF  RM  RS  RW  RWB  ST
0    0   0    0   1   1   0    0   0    1    0    0   0   0   3   0    0    0   0    0    0    0   0   0   2   0    2     1
1    3   2    0   1   2   0    1   1    0    0    0   1   0   0   0    0    2   0    0    1    0   1   0   0   0    0     1
         1    0   1   2   0    2   1    1    0    0   0   0   0   0    0    1   1    1    0    0   2   0   0   0    3     1
                               3   0    0    0    0   0   0   0   0    0    2   0    1    0    0   2   1   0   0    5     1
                               4   0    1    0    0   0   0   1   0    0    1   1    1    0    0   1   0   1   0    5     1
                                                                                                                         ..
0    4   2    0   0   2   0    0   0    0    0    0   2   0   0   1    0    0   0    0    0    0   0   0   0   3    3     1
                  1   2   0    1   0    0    0    0   1   0   0   0    0    4   0    0    0    0   1   0   0   0    1     1
                      3   0    2   1    0    0    0   0   0   1   0    0    2   1    0    0    0   1   0   0   0    2     1
     5   0    0   2   2   0    3   0    0    1    0   2   0   0   0    0    0   1    0    1    0   0   0   0   0    3     1
4    4   0    0   3   3   0    2   1    0    1    0   1   0   0   0    0    2   1    0    1    0   2   0   1   0    1     1
Name: count, Length: 650, dtype: int64

In [17]:
sumofcm = data.pivot_table(index='Club', columns='Position', aggfunc='size')['CM'].value_counts().reset_index()['count'].sum()
sumofcm

514

In [18]:
len(piv) - sumofcm

136

In [19]:
len(piv[piv['CM']==0])

136

In [20]:
data[(data['Nationality']=='Russia') & (data['Club']=='AS Monaco')]['Wage'].sum()

61000

In [63]:
newpiv = data.pivot_table(values='SprintSpeed', index='Club', columns='Position', aggfunc='mean')
newpiv

Position,CAM,CB,CDM,CF,CM,GK,LAM,LB,LCB,LCM,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
Club,,,,,,,,,,,,,,,,,,,,,
SSV Jahn Regensburg,NaN,46.600000,82.000000,NaN,61.000000,33.000000,NaN,76.000000,NaN,NaN,...,68.500000,57.0,NaN,65.0,NaN,NaN,NaN,NaN,NaN,61.666667
1. FC Heidenheim 1846,68.0,61.333333,NaN,NaN,68.000000,41.000000,NaN,60.000000,55.0,NaN,...,80.500000,59.0,NaN,NaN,NaN,78.333333,NaN,NaN,NaN,69.000000
1. FC Kaiserslautern,NaN,59.000000,65.666667,NaN,NaN,42.666667,NaN,68.000000,45.0,NaN,...,71.500000,NaN,NaN,55.0,NaN,82.500000,69.0,NaN,NaN,79.000000
1. FC Köln,NaN,60.000000,32.000000,NaN,68.500000,33.000000,NaN,NaN,NaN,NaN,...,70.000000,NaN,NaN,NaN,NaN,77.000000,NaN,NaN,NaN,NaN
1. FC Magdeburg,NaN,60.000000,NaN,64.0,NaN,39.333333,NaN,69.000000,60.0,66.0,...,NaN,68.0,71.0,NaN,NaN,76.000000,53.0,80.5,NaN,44.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zagłębie Sosnowiec,73.0,46.500000,66.000000,NaN,NaN,39.000000,NaN,60.333333,61.0,NaN,...,68.000000,58.0,NaN,62.0,NaN,71.000000,NaN,NaN,NaN,75.000000
Çaykur Rizespor,74.0,58.000000,62.800000,NaN,NaN,47.000000,NaN,75.500000,63.0,NaN,...,68.666667,NaN,NaN,32.0,NaN,85.000000,NaN,NaN,NaN,48.000000
Örebro SK,NaN,60.750000,NaN,NaN,63.000000,33.666667,NaN,NaN,58.0,44.0,...,NaN,62.0,66.0,NaN,NaN,NaN,NaN,77.5,72.0,72.200000
Östersunds FK,67.0,76.000000,NaN,77.0,56.333333,32.666667,NaN,74.500000,53.0,62.0,...,54.000000,73.0,NaN,NaN,NaN,85.000000,NaN,67.0,NaN,52.000000
Śląsk Wrocław,NaN,62.000000,66.666667,NaN,72.000000,30.666667,NaN,78.500000,59.0,NaN,...,50.500000,58.0,NaN,69.0,NaN,68.000000,81.0,NaN,NaN,54.000000

In [64]:
data.groupby('Position')['SprintSpeed'].mean().sort_values(ascending=False).head(3)

Position
LAM    76.333333
RF     76.333333
LF     75.875000
Name: SprintSpeed, dtype: float64

In [68]:
newpiv.ST.sort_values(ascending=False).head(3)

Club
Vitória      91.0
Sydney FC    88.0
CD Lugo      87.0
Name: ST, dtype: float64

In [3]:
data.tail(3)

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
12894,13123,B. Worman,16,England,Cambridge United,60000,1000,ST,25,40,...,55,41,32,13,11,6,5,10,6,13
12895,13124,D. Walker-Rice,17,England,Tranmere Rovers,60000,1000,RW,44,50,...,50,46,20,25,27,14,6,14,8,9
12896,13125,G. Nugent,16,England,Tranmere Rovers,60000,1000,CM,41,34,...,33,43,40,43,50,10,15,9,12,9

In [4]:
(data[data.Wage>data.Wage.mean()].SprintSpeed).mean()

67.56638061585058

In [5]:
(data[data.Wage<data.Wage.mean()].SprintSpeed).mean()

62.41425430560645

In [6]:
data[data.Wage == data.Wage.max()].Position

0    RF
Name: Position, dtype: object

In [7]:
data[data.Nationality == "Brazil"].Penalties.sum()

22789

In [8]:
data[data.HeadingAccuracy>50].Age.mean()

25.58771113179944

In [9]:
data[(data['Composure'] > data.Composure.max()*0.9) & (data['Reactions'] > data.Reactions.max()*0.9)]['Age'].min()

24

In [10]:
data[data['Age'] == data['Age'].max()]['Reactions'].mean() - data[data['Age'] == data['Age'].min()]['Reactions'].mean()

22.642857142857146

In [11]:
data[data.Value>data.Value.mean()].Nationality.value_counts().idxmax()

'Spain'

In [12]:
data[data['Position'] == 'GK'].loc[data['GKReflexes'].idxmax()]['Wage'] / data[data['Position'] == 'GK'].loc[data['GKHandling'].idxmax()]['Wage']

2.765957446808511

In [13]:
data[data['Aggression'] == data['Aggression'].max()]['ShotPower'].mean() / data[data['Aggression'] == data['Aggression'].min()]['ShotPower'].mean()

2.076923076923077

#lab3

In [29]:
data.Club.nunique()

650

In [37]:
data.Club.value_counts().head()

Club
V-Varen Nagasaki    30
Shonan Bellmare     30
Vissel Kobe         29
FC Emmen            29
Padova              29
Name: count, dtype: int64

In [38]:
data.Club.value_counts().tail()

Club
Dijon FCO            8
Vitória Guimarães    7
GD Chaves            7
Dinamo Zagreb        7
Atlético Mineiro     6
Name: count, dtype: int64

In [44]:

position_counts = data['Position'].value_counts()

threshold = len(data) * 0.1

popular_positions = position_counts[position_counts > threshold]
popular_positions

Position
GK    1641
ST    1512
CB    1403
Name: count, dtype: int64

In [47]:
data.Position.value_counts(normalize=True)

Position
GK     0.127239
ST     0.117237
CB     0.108785
CM     0.082732
LB     0.077692
RB     0.073505
RM     0.059394
LM     0.056447
CDM    0.053578
CAM    0.049081
RCB    0.032411
LCB    0.031713
LW     0.018764
RCM    0.018609
RW     0.018376
LCM    0.018066
LDM    0.011476
RDM    0.010700
LS     0.009382
RS     0.008839
RWB    0.005428
LWB    0.004652
CF     0.003954
LF     0.000620
LAM    0.000465
RF     0.000465
RAM    0.000388
Name: proportion, dtype: float64

In [51]:
position_counts = data['Position'].value_counts(normalize=True) * 100
position_counts[position_counts > 10]

Position
GK    12.723889
ST    11.723657
CB    10.878499
Name: proportion, dtype: float64

In [55]:
data[data.Club=="Manchester United"].Nationality.unique()

array(['Spain', 'France', 'Belgium', 'Chile', 'Serbia', 'England',
       'Ivory Coast', 'Ecuador', 'Argentina', 'Brazil', 'Italy',
       'Scotland', 'Wales'], dtype=object)

In [57]:
data[(data.Club=="Juventus") & (data.Nationality=="Brazil")]

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
64,64,Alex Sandro,27,Brazil,Juventus,36500000,160000,LB,84,55,...,60,82,81,84,84,7,7,9,12,5
65,65,Douglas Costa,27,Brazil,Juventus,46500000,175000,LM,84,67,...,77,84,45,38,34,13,15,9,12,5

In [60]:
data[data.Age>35].Club.value_counts()

Club
Hokkaido Consadole Sapporo    4
Club Atlético Huracán         4
Morecambe                     3
Club Atlético Tigre           3
San Martín de San Juan        3
                             ..
Colo-Colo                     1
Real Valladolid CF            1
Pescara                       1
Houston Dynamo                1
Dalian YiFang FC              1
Name: count, Length: 212, dtype: int64

In [68]:
age_bins = data[data.Nationality=="Argentina"]['Age'].value_counts(bins=4)

age_bins

(22.25, 28.5]      200
(15.974, 22.25]    197
(28.5, 34.75]      128
(34.75, 41.0]       49
Name: count, dtype: int64

In [87]:
len(data[data.Nationality=="Spain"].Age)

671

In [90]:
len(data[data.Nationality=="Spain"]['Age']>21)

671

In [97]:
(len(data[(data.Nationality == "Spain") & (data['Age'] == 21)])/len(data[data.Nationality == "Spain"]))*100

11.773472429210134

In [104]:
result = data.groupby('Position').filter(lambda x: x['Wage'].sum() > 5000000)
positions = result['Position'].unique()
positions

array(['ST', 'GK', 'CB', 'CAM', 'RM', 'LM', 'LB', 'CM', 'RB'],
      dtype=object)

In [114]:
average_stats = data.groupby('Position').agg({'Wage': 'mean', 'Value': 'mean'}).reset_index()

highest_value_position = average_stats.loc[average_stats['Value'].idxmax()]

print(average_stats)
print("Позиция с самой высокой средней ценностью:", highest_value_position)

   Position           Wage         Value
0       CAM    8688.783570  2.963199e+06
1        CB    5328.581611  1.321251e+06
2       CDM    7121.562952  1.658900e+06
3        CF    4862.745098  1.848627e+06
4        CM    5805.060918  1.617465e+06
5        GK    5352.833638  1.502502e+06
6       LAM   61000.000000  1.324583e+07
7        LB    6083.832335  1.429032e+06
8       LCB    9753.056235  2.636516e+06
9       LCM   13497.854077  4.318090e+06
10      LDM   10243.243243  3.369459e+06
11       LF   75125.000000  2.736250e+07
12       LM    7472.527473  2.466174e+06
13       LS   15421.487603  5.848430e+06
14       LW   12169.421488  3.603099e+06
15      LWB    5783.333333  1.931333e+06
16      RAM   11800.000000  8.345000e+06
17       RB    5310.126582  1.248940e+06
18      RCB   11270.334928  3.009055e+06
19      RCM   13504.166667  4.217604e+06
20      RDM   11282.608696  2.692717e+06
21       RF  119000.000000  2.636583e+07
22       RM    6655.352480  2.138734e+06
23       RS   13482.456140  3.645833e+06
24       RW   13822.784810  3.495738e+06
25      RWB    6000.000000  1.555571e+06
26       ST    7852.513228  2.157252e+06
Позиция с самой высокой средней ценностью: Position            LF
Wage           75125.0
Value       27362500.0
Name: 11, dtype: object

In [112]:
average_wage = data[data['Position'] == "CAM"]['Wage'].mean()
average_wage

8688.783570300158

1 lab

In [13]:
import pandas as pd
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [34]:
s = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])
s

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [35]:
s['c']

30

In [15]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([5, 4, 3, 2, 1])
s1+s2

0    6
1    6
2    6
3    6
4    6
dtype: int64

In [17]:
data = {
    'Name' : ['Akniet', 'Sayan', 'Nurlykhan'],
    'Age' : [19, 16, 21]
}

df1 = pd.DataFrame(data)
df1

        Name  Age
0     Akniet   19
1      Sayan   16
2  Nurlykhan   21

In [37]:
import numpy as np
df2 = pd.DataFrame(np.random.rand(5, 5), index=range(5), columns=['A', 'B', 'C', 'D', 'E'])
df2

          A         B         C         D         E
0  0.328559  0.969978  0.699798  0.008044  0.210042
1  0.969802  0.742769  0.040001  0.434967  0.629204
2  0.533141  0.240879  0.768565  0.213067  0.188755
3  0.344239  0.601327  0.470833  0.259355  0.715993
4  0.331128  0.803736  0.789346  0.365052  0.764398

In [38]:
df2.loc[2]

A    0.533141
B    0.240879
C    0.768565
D    0.213067
E    0.188755
Name: 2, dtype: float64

In [21]:
df2['C']

0    0.665892
1    0.841712
2    0.321729
3    0.992449
4    0.883513
Name: C, dtype: float64

In [22]:
df3 = pd.DataFrame(np.random.rand(5, 5), index=range(5), columns=['A', 'B', 'C', 'D', 'E'])
df3[df3['A'] > 0.5]

          A         B         C         D         E
0  0.917509  0.986161  0.523413  0.147866  0.697186
1  0.591126  0.583258  0.196300  0.711690  0.659338
2  0.933545  0.861954  0.485318  0.478249  0.655517

In [39]:
df4 = pd.DataFrame(np.random.rand(5, 5))
df4

          0         1         2         3         4
0  0.977608  0.075891  0.141537  0.460772  0.377364
1  0.186119  0.967574  0.996549  0.522418  0.251064
2  0.094194  0.582373  0.855133  0.933888  0.058974
3  0.227580  0.114888  0.950784  0.560142  0.878618
4  0.118396  0.053042  0.928495  0.588414  0.002455

In [40]:
df4.sum()

0    1.603897
1    1.793767
2    3.872499
3    3.065634
4    1.568476
dtype: float64

In [41]:
df5 = pd.DataFrame(np.random.rand(3, 3), columns=['A', 'B', 'C'])
df6 = pd.DataFrame(np.random.rand(3, 3), columns=['D', 'E', 'F'])
df5

          A         B         C
0  0.355302  0.442613  0.669212
1  0.418668  0.366979  0.260919
2  0.975987  0.304177  0.613101

In [42]:
df6

          D         E         F
0  0.196891  0.117426  0.556703
1  0.641168  0.283022  0.360257
2  0.300674  0.216642  0.889688

In [43]:
pd.concat([df5, df6], axis=1)

          A         B         C         D         E         F
0  0.355302  0.442613  0.669212  0.196891  0.117426  0.556703
1  0.418668  0.366979  0.260919  0.641168  0.283022  0.360257
2  0.975987  0.304177  0.613101  0.300674  0.216642  0.889688

In [28]:
pd.concat([df5, df6], axis=0)

          A         B         C         D         E         F
0  0.248501  0.511503  0.663426       NaN       NaN       NaN
1  0.717873  0.293085  0.206161       NaN       NaN       NaN
2  0.937707  0.984617  0.450041       NaN       NaN       NaN
0       NaN       NaN       NaN  0.549425  0.959914  0.440858
1       NaN       NaN       NaN  0.506255  0.837937  0.595350
2       NaN       NaN       NaN  0.152897  0.399645  0.815916

In [44]:
data2 = {
    'Name' : ['Akniet', 'Sayan', 'Nurlykhan', 'Beksultan', 'Togzhan', 'MukhammedSultan'],
    'Gender' : ['F', 'M', 'M', 'M', 'F', 'M'],
    'Age' : [19, 16, 21, 13, 8, 3]
}
df7 = pd.DataFrame(data2)
df7.groupby('Gender')['Age'].mean()

Gender
F    13.50
M    13.25
Name: Age, dtype: float64

In [45]:
df8 = pd.DataFrame(data)
df8.to_csv('data.csv', index=False)
pd.read_csv('data.csv')

        Name  Age
0     Akniet   19
1      Sayan   16
2  Nurlykhan   21